In [1]:
import seaborn as sns
import pandas as pd
import tkinter as tk
from tkinter import *
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.figure import Figure
matplotlib.use('TkAgg')
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

In [2]:
data = pd.read_csv("data.csv")

In [3]:
data.shape

(303, 14)

In [4]:
data.sample(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
111,57,1,2,150,126,1,1,173,0,0.2,2,1,3,1
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
292,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
175,40,1,0,110,167,0,0,114,1,2.0,1,0,3,0
57,45,1,0,115,260,0,0,185,0,0.0,2,0,2,1

In [5]:
data.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [8]:
#data.hist()

In [9]:
data.tail(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [10]:
info = ["\tage", "\t1:male, 0:female", "\tchest pain type, 1:typical angina, 2:atypical angina, 3:non-anginal pain, 4:asymptomatic",
        "resting blood pressure", "\tserum cholestrol in mg/dl", "\tfasting blood sugar > 120mg/dl", "resting electro cardiographic results (values 0,1,2) ",
        "maximum heart rate achieved", "\texercise induced angina", "old peak = ST depression induced by excercise relative to rest",
        "\tthe slope of the peak excercise ST segment", "\tnumber of major vessels (0 - 3) colored by flourosopy", "\tthal : 3 = normal ; 6 = fixed defect; 7 = reversible defect"]
for i in range(len(info)):
    print(data.columns[i], " \t  \t", info[i])

age  	  	 	age
sex  	  	 	1:male, 0:female
cp  	  	 	chest pain type, 1:typical angina, 2:atypical angina, 3:non-anginal pain, 4:asymptomatic
trestbps  	  	 resting blood pressure
chol  	  	 	serum cholestrol in mg/dl
fbs  	  	 	fasting blood sugar > 120mg/dl
restecg  	  	 resting electro cardiographic results (values 0,1,2)
thalach  	  	 maximum heart rate achieved
exang  	  	 	exercise induced angina
oldpeak  	  	 old peak = ST depression induced by excercise relative to rest
slope  	  	 	the slope of the peak excercise ST segment
ca  	  	 	number of major vessels (0 - 3) colored by flourosopy
thal  	  	 	thal : 3 = normal ; 6 = fixed defect; 7 = reversible defect

In [11]:
data["target"].describe()

count    303.000000
mean       0.544554
std        0.498835
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: target, dtype: float64

In [12]:
data["target"].unique()

array([1, 0], dtype=int64)

In [13]:
data.corr()["target"].abs().sort_values(ascending = True)

fbs         0.028046
chol        0.085239
restecg     0.137230
trestbps    0.144931
age         0.225439
sex         0.280937
thal        0.344029
slope       0.345877
ca          0.391724
thalach     0.421741
oldpeak     0.430696
cp          0.433798
exang       0.436757
target      1.000000
Name: target, dtype: float64

In [14]:
import seaborn as sns
y = data["target"]
sns.countplot(y)
temp = data.target.value_counts()
print(temp)

C:\Users\chven\anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

1    165
0    138
Name: target, dtype: int64

In [15]:
percent = round((temp[1] / (temp[0]+temp[1]))*100)
print("Percentage of patients with heart disease : ", percent)
print("Percentage of patients with out heart disease : ", (100 - percent))

Percentage of patients with heart disease :  54
Percentage of patients with out heart disease :  46

In [16]:
data = pd.read_csv("data.csv")
data["sex"].describe()

count    303.000000
mean       0.683168
std        0.466011
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: sex, dtype: float64

In [17]:
data["sex"].unique()

array([1, 0], dtype=int64)

In [18]:
data.corr()["sex"].abs().sort_values(ascending = True)

slope       0.030711
thalach     0.044020
fbs         0.045032
cp          0.049353
trestbps    0.056769
restecg     0.058196
oldpeak     0.096093
age         0.098447
ca          0.118261
exang       0.141664
chol        0.197912
thal        0.210041
target      0.280937
sex         1.000000
Name: sex, dtype: float64

In [19]:
x = data["sex"]
sns.countplot(x)
print(data.sex.value_counts())

1    207
0     96
Name: sex, dtype: int64

C:\Users\chven\anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

In [20]:
data["cp"].describe()

count    303.000000
mean       0.966997
std        1.032052
min        0.000000
25%        0.000000
50%        1.000000
75%        2.000000
max        3.000000
Name: cp, dtype: float64

In [21]:
data["cp"].unique()

array([3, 2, 1, 0], dtype=int64)

In [22]:
data.corr()["cp"].abs().sort_values(ascending = True)

restecg     0.044421
trestbps    0.047608
sex         0.049353
age         0.068653
chol        0.076904
fbs         0.094444
slope       0.119717
oldpeak     0.149230
thal        0.161736
ca          0.181053
thalach     0.295762
exang       0.394280
target      0.433798
cp          1.000000
Name: cp, dtype: float64

In [23]:
x = data["cp"]
sns.countplot(x)
temp = data.cp.value_counts()
print(temp)

0    143
2     87
1     50
3     23
Name: cp, dtype: int64

C:\Users\chven\anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

In [24]:
#print(temp[2] / (temp[1]+temp[2]+temp[0]+temp[3]))

In [25]:
data["fbs"].describe()

count    303.000000
mean       0.148515
std        0.356198
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: fbs, dtype: float64

In [26]:
data["fbs"].unique()

array([1, 0], dtype=int64)

In [27]:
data.corr()["fbs"].abs().sort_values(ascending = True)

oldpeak     0.005747
thalach     0.008567
chol        0.013294
exang       0.025665
target      0.028046
thal        0.032019
sex         0.045032
slope       0.059894
restecg     0.084189
cp          0.094444
age         0.121308
ca          0.137979
trestbps    0.177531
fbs         1.000000
Name: fbs, dtype: float64

In [28]:
x = data["fbs"]
sns.countplot(x)
print(x.value_counts())

0    258
1     45
Name: fbs, dtype: int64

C:\Users\chven\anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

In [29]:
data["restecg"].describe()

count    303.000000
mean       0.528053
std        0.525860
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        2.000000
Name: restecg, dtype: float64

In [30]:
data["restecg"].unique()

array([0, 1, 2], dtype=int64)

In [31]:
data.corr()["restecg"].abs().sort_values(ascending = True)

thal        0.011981
thalach     0.044123
cp          0.044421
sex         0.058196
oldpeak     0.058770
exang       0.070733
ca          0.072042
fbs         0.084189
slope       0.093045
trestbps    0.114103
age         0.116211
target      0.137230
chol        0.151040
restecg     1.000000
Name: restecg, dtype: float64

In [32]:
import seaborn as sns
x = data["restecg"]
sns.countplot(x)
print(x.value_counts())

1    152
0    147
2      4
Name: restecg, dtype: int64

C:\Users\chven\anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

In [33]:
data["exang"].describe()

count    303.000000
mean       0.326733
std        0.469794
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: exang, dtype: float64

In [34]:
data["exang"].unique()

array([0, 1], dtype=int64)

In [35]:
data.corr()["exang"].abs().sort_values(ascending = True)

fbs         0.025665
chol        0.067023
trestbps    0.067616
restecg     0.070733
age         0.096801
ca          0.115739
sex         0.141664
thal        0.206754
slope       0.257748
oldpeak     0.288223
thalach     0.378812
cp          0.394280
target      0.436757
exang       1.000000
Name: exang, dtype: float64

In [36]:
x = data["exang"]
sns.countplot(x)
print(x.value_counts())

0    204
1     99
Name: exang, dtype: int64

C:\Users\chven\anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

In [37]:
data["slope"].describe()

count    303.000000
mean       1.399340
std        0.616226
min        0.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        2.000000
Name: slope, dtype: float64

In [38]:
data["slope"].unique()

array([0, 2, 1], dtype=int64)

In [39]:
data.corr()["slope"].abs().sort_values(ascending = True)

chol        0.004038
sex         0.030711
fbs         0.059894
ca          0.080155
restecg     0.093045
thal        0.104764
cp          0.119717
trestbps    0.121475
age         0.168814
exang       0.257748
target      0.345877
thalach     0.386784
oldpeak     0.577537
slope       1.000000
Name: slope, dtype: float64

In [40]:
x = data["slope"]
sns.countplot(x)
print(data.slope.value_counts())

2    142
1    140
0     21
Name: slope, dtype: int64

C:\Users\chven\anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

In [41]:
data["ca"].describe()

count    303.000000
mean       0.729373
std        1.022606
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        4.000000
Name: ca, dtype: float64

In [42]:
data["ca"].unique()

array([0, 2, 1, 3, 4], dtype=int64)

In [43]:
data.corr()["ca"].abs().sort_values(ascending = True)

chol        0.070511
restecg     0.072042
slope       0.080155
trestbps    0.101389
exang       0.115739
sex         0.118261
fbs         0.137979
thal        0.151832
cp          0.181053
thalach     0.213177
oldpeak     0.222682
age         0.276326
target      0.391724
ca          1.000000
Name: ca, dtype: float64

In [44]:
x = data["ca"]
sns.countplot(x)
print(x.value_counts())

0    175
1     65
2     38
3     20
4      5
Name: ca, dtype: int64

C:\Users\chven\anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

In [45]:
data["thal"].describe()

count    303.000000
mean       2.313531
std        0.612277
min        0.000000
25%        2.000000
50%        2.000000
75%        3.000000
max        3.000000
Name: thal, dtype: float64

In [46]:
data["thal"].unique()

array([1, 2, 3, 0], dtype=int64)

In [47]:
data.corr()["thal"].abs().sort_values(ascending = True)

restecg     0.011981
fbs         0.032019
trestbps    0.062210
age         0.068001
thalach     0.096439
chol        0.098803
slope       0.104764
ca          0.151832
cp          0.161736
exang       0.206754
sex         0.210041
oldpeak     0.210244
target      0.344029
thal        1.000000
Name: thal, dtype: float64

In [48]:
x = data['thal']
sns.countplot(x)
print(x.value_counts())

C:\Users\chven\anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

2    166
3    117
1     18
0      2
Name: thal, dtype: int64

In [49]:
prediction = data.drop("target", axis = 1)
target = data["target"]
X_train, X_test, Y_train, Y_test = train_test_split(prediction, target, test_size = 0.25, random_state = 0)

In [50]:
X_train.shape

(227, 13)

In [51]:
X_test.shape

(76, 13)

In [52]:
Y_test.shape

(76,)

In [53]:
Y_train.shape

(227,)

In [54]:
knn = KNeighborsClassifier(n_neighbors = 7)
knn.fit(X_train, Y_train)
predict_knn = knn.predict(X_test)
predict_knn.shape

(76,)

In [55]:
score_knn = round(accuracy_score(predict_knn, Y_test)*100, 2)
print("Accuracy achived through KNN - algorithm is ", score_knn ,"%")

Accuracy achived through KNN - algorithm is  68.42 %

In [56]:
import seaborn as sns
from PIL import Image
from PIL import ImageTk
import pandas as pd
import tkinter as tk
from tkinter import *
#from tkinter.ttk import *
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.figure import Figure
matplotlib.use('TkAgg')
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg
data = pd.read_csv("data.csv")
root = Tk()
root.configure(background = "#333131")
root.geometry("1920x1080")
from PIL import Image
image = Image.open('heart2.jpg')
photo = ImageTk.PhotoImage(image)
lbl = Label(image = photo)
lbl.place(relx = 0.3, rely = 0.1)
lbl1 = Label(root, text = "HEART DISEASE PREDICTION", fg = "white", bg = '#333131')
lbl1.place(relx = 0.5, rely = 0.15, anchor = CENTER)  
lbl1.config(font = ('bold',20), height = 100)

def target():
    data1 = data["target"]
    fig = plt.Figure(figsize = (6,6))
    a = fig.add_subplot(111)
    sns.countplot(data1)
    plt.title("Graph of Target")
    can = FigureCanvasTkAgg(fig,root)
    can.get_tk_widget()
    can.draw()

def fbs():
    data1 = data["fbs"]
    fig = plt.Figure(figsize = (6,6))
    a = fig.add_subplot(111)
    sns.countplot(data1)
    plt.title("Graph of fbs")
    can = FigureCanvasTkAgg(fig,root)
    can.get_tk_widget()
    can.draw()

def ca():
    data1 = data["ca"]
    fig = plt.Figure(figsize = (6,6))
    a = fig.add_subplot(111)
    sns.countplot(data1)
    plt.title("Graph of ca")
    can = FigureCanvasTkAgg(fig,root)
    can.get_tk_widget()
    can.draw()

def restecg():
    data1 = data["restecg"]
    fig = plt.Figure(figsize = (6,6))
    a = fig.add_subplot(111)
    sns.countplot(data1)
    plt.title("Graph of restecg")
    can = FigureCanvasTkAgg(fig,root)
    can.get_tk_widget()
    can.draw()

def exang():
    data1 = data["exang"]
    fig = plt.Figure(figsize = (6,6))
    a = fig.add_subplot(111)
    sns.countplot(data1)
    plt.title("Graph of exang")
    can = FigureCanvasTkAgg(fig,root)
    can.get_tk_widget()
    can.draw()

def slope():
    data1 = data["slope"]
    fig = plt.Figure(figsize = (6,6))
    a = fig.add_subplot(111)
    sns.countplot(data1)
    plt.title("Graph of slope")
    can = FigureCanvasTkAgg(fig,root)
    can.get_tk_widget()
    can.draw()

def thal():
    data1 = data["thal"]
    fig = plt.Figure(figsize = (6,6))
    a = fig.add_subplot(111)
    sns.countplot(data1)
    plt.title("Graph of thal")
    can = FigureCanvasTkAgg(fig,root)
    can.get_tk_widget()
    can.draw()

def cp():
    data1 = data["cp"]
    fig = plt.Figure(figsize = (6,6))
    a = fig.add_subplot(111)
    sns.countplot(data1)
    plt.title("Graph of cp")
    can = FigureCanvasTkAgg(fig,root)
    can.get_tk_widget()
    can.draw()
        
def predict():
    prediction = data.drop("target", axis = 1)
    target = data["target"]
    X_train, X_test, Y_train, Y_test = train_test_split(prediction, target, test_size = 0.25, random_state = 0)
    knn = KNeighborsClassifier(n_neighbors = 7)
    knn.fit(X_train, Y_train)
    predict_knn = knn.predict(X_test)
    score_knn = round(accuracy_score(predict_knn, Y_test)*100, 2)
    ans = Label(root, text = score_knn, font = 20, fg = "white", bg = 'black')
    ans.place(relx = 0.65, rely = 0.9, anchor = "center")

target_btn = Button(root, text = "Target ", command = target, foreground = "red", background = "black" , font = 10)
fbs_btn = Button(root, text = "Fasting Blood Sugar    ", command = fbs, foreground = "red", background = "black" , font = 10)
ca_btn = Button(root, text = "Number of Major Vessels     ", command = ca, foreground = "red", background = "black" , font = 10)
restecg_btn = Button(root, text = "Resting ECG", command = restecg, foreground = "red", background = "black" , font = 10)
exang_btn = Button(root, text = "Exercise induced angina", command = exang, foreground = "red", background = "black" , font = 10)
slope_btn = Button(root, text = "Slope  ", command = slope, foreground = "red", background = "black" , font = 10)
thal_btn = Button(root, text = "Thal   ", command = thal, foreground = "red", background = "black" , font = 10)
cp_btn = Button(root, text = "Chest Pain Type     ", command = cp, foreground = "red", background = "black" , font = 10)
predict_btn = Button(root, text = "Accuracy achived through KNN - algorithm is ", command = predict, foreground = "red", background = "black" , font = 10)
predict_btn.place(relx = 0.45, rely = 0.9, anchor = "center")
target_btn.place(relx = 0.2, rely = 0.3, anchor = "center")
fbs_btn.place(relx = 0.2, rely = 0.6, anchor = "center")
ca_btn.place(relx = 0.4, rely = 0.6, anchor = "center")
restecg_btn.place(relx = 0.4, rely = 0.3, anchor = "center")
exang_btn.place(relx = 0.6, rely = 0.6, anchor = "center")
slope_btn.place(relx = 0.6, rely = 0.3, anchor = "center")
thal_btn.place(relx = 0.8, rely = 0.3, anchor = "center")
cp_btn.place(relx = 0.8, rely = 0.6, anchor = "center")
exit_btn = Button(root, text = "EXIT", command = root.destroy, foreground = "red", background = "black" , font = 10)
exit_btn.place(relx = 0.9, rely = 0.9, anchor = "ne")
root.mainloop()

C:\Users\chven\anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(
C:\Users\chven\anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(